<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>План навчання</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/individual-plan.css" />
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>

	<header>
	  <a href="index.html#start" class="logo">DIDACTIC</a>
	  <nav>
	    <a href="index.html#about-us">Про нас</a>
	    <a href="index.html#how-works">Як працює</a>
	    <a href="#">Тарифи</a>
	    <a href="#">ШІ</a>
	  </nav>
	  <div class="auth">
	    <a href="login.html">Вхід</a>
	    <a href="registration.html">Реєстрація</a>
	  </div>
	</header>

<div class="container">
    <div class="plan-container" th:if="${overallSubjectPerformance != null}">
        <div class="title-container">
            <h1 class="plan-title">ПЛАН НАВЧАННЯ</h1>
        </div>
        <hr />
        <div class="plan-content-container">
            <ul class="level-1"> <li class="topic-global level-2" th:each="category : ${overallSubjectPerformance.categories}">
                    <div>
                        <p class="topic__title">[[${category.categoryName}]]</p>
                        <p data-js-plan-topic-score>[[${category.formattedAveragePercentage}]]</p>
                    </div>
                    <ul class="topics level-3">
                        <li class="topic-item" th:each="topic : ${category.topics}">
                            <a href="#" th:text="${topic.topicName}">Назва теми</a>
                            <p data-js-plan-theme-score>[[${topic.formattedPercentage}]]</p>
                        </li>
                    </ul>
                    <hr />
                </li>
            </ul>
        </div>
    </div>

    <div class="plan-container" th:unless="${overallSubjectPerformance != null}">
        <p>Дані індивідуального плану відсутні.</p>
    </div>
</div>

<footer>
  <div class="footer-didactic">
    <h1>DIDACTIC</h1>
    <p>Штучний інтелект для підготовки до НМТ</p>
  </div>
  <div class="footer-contacts">
    <p>didactic@gmail.com</p>
    <p>+38 (097) 123 12 12</p>
    <a href="#">Публічна оферта</a>
  </div>
</footer>

</body>
</html>